* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - 590px);
  padding-right: calc(50% - 590px);
}

.container {
  width: 1400px;
}

.title_blocks {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
}

.p_blocks {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 15px;
  width: 630px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.header {
  height: 655px;
  background-image: url(img/header/pexels-photo-3560561.png);
  background-size: 100%;
  position: relative;
}

.header_black {
  width: 100%;
  background: black;
  opacity: 0.8;
  height: 655px;
  position: relative;
}

.header_top {
  background-color: white;
  height: 120px;
  width: 100%;
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 44px;
}

.header_h1 {
  font-family: "Open Sans";
  font-weight: 600;
  color: white;
  font-size: 60px;
}

.header_p {
  font-family: "Open Sans";
  font-weight: 400;
  color: white;
  font-size: 22px;
  text-align: center;
}

.header_bottom {
  margin-left: 285px;
}

.header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_menu ul li:not(:last-child) {
  margin-right: 45px;
}

.header_menu ul li a {
  color: #212121;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  font-style: normal;
  line-height: normal;
}

.header_menu ul li a:hover {
  color: #d83b1f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_logo {
  margin-right: 344px;
  color: #212121;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.header_search_link {
  margin-left: 28px;
  display: block;
}

.header_menu_link {
  font-weight: 22px;
  font-family: "Open Sans";
}

.header_title {
  position: absolute;
  margin-top: 300px;
  margin-left: -65px;
  z-index: 1;
}

.header_button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 520px;
  margin-left: 33px;
  z-index: 1;
}

.header_button_left, .header_button_right {
  width: 220px;
  height: 70px;
  outline: 3px solid white;
  display: block;
  margin-left: 25px;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
}

.header_button_left:hover, .header_button_right:hover {
  background-color: #00897b;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about {
  height: 670px;
}

.about_general_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about_description {
  text-align: center;
  width: 250px;
}

.about_description_p {
  width: 260px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
}

.about_description_h3 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
}

.services {
  height: 1400px;
  background-color: #e4fdf9;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blocks_block {
  height: 440px;
  width: 340px;
  background-color: white;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.blocks_block_img {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.blocks_block_img_hover {
  display: none;
}

.blocks_block_h3 {
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
}

.blocks_block_p {
  margin-bottom: 50px;
  width: 270px;
  margin-left: 50px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
}

.blocks_block_button {
  display: block;
  outline: 2px solid black;
  width: 150px;
  height: 50px;
  padding-top: 10px;
  margin-left: 110px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.blocks_block_arm {
  margin-top: -25px;
}

.blocks_block:hover {
  background-color: #00897b;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.blocks_block:hover a {
  color: white;
  outline: 2px solid white;
}

.blocks_block:hover .blocks_block_img_hover {
  display: inline;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.blocks_block:hover .blocks_block_img {
  display: none;
}

.blocks_block_button:hover {
  cursor: pointer;
}

.latest {
  height: 1600px;
}

.latest_categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.latest_product {
  width: 370px;
  height: 370px;
  position: relative;
  margin-bottom: 30px;
}

.latest_product:hover .latest_hidden {
  display: block;
}

.latest_product:hover .latest_product_a {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.latest_product_a {
  width: 100%;
}

.latest_hidden {
  position: absolute;
  top: 150px;
  left: 125px;
  display: none;
  color: white;
  text-align: center;
  line-height: 15px;
}

.latest_hidden_h4 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
}

.latest_hidden_p {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
}

.latest_menu_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 115px;
  margin-bottom: 120px;
}

.latest_li_a {
  display: block;
  width: 175px;
  height: 55px;
  outline: 3px solid #008A7B;
  margin-right: 20px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding-top: 15px;
}

.latest_li_a:hover {
  background: #008A7B;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button_bottom {
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
}

.pricing {
  height: 1135px;
  background-color: #F0F1F1;
}

.pricing_general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing_hr {
  margin-bottom: 40px;
  width: 145px;
  margin-left: auto;
  margin-right: auto;
}

.pricing_price_span {
  font-family: 'Open Sans';
  font-size: 50px;
  font-weight: 400;
  color: white;
  margin-left: 110px;
}

.pricing_dollar_span {
  position: absolute;
  font-family: 'Open Sans';
  font-size: 25px;
  font-weight: 400;
  color: white;
  margin-left: 95px;
  margin-top: 7px;
  margin-right: 10px;
}

.pricing_block {
  width: 380px;
}

.pricing_block:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pricing_block_top {
  background-color: #2D47AF;
  height: 215px;
}

.pricing_block_top_h3 {
  font-family: 'Open Sans';
  font-size: 23px;
  font-weight: 400;
  color: white;
  padding-top: 50px;
  margin-left: 130px;
  margin-bottom: 18px;
}

.pricing_block_top_p {
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 400;
  color: white;
}

.pricing_block_bottom {
  height: 470px;
  background-color: white;
  text-align: center;
  padding-top: 50px;
}

.pricing_block_bottom_p {
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 300;
  color: #7B7B7B;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.pricing_block_bottom_button {
  display: block;
  width: 180px;
  height: 60px;
  outline: 2px solid black;
  color: black;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 600;
  padding-top: 16px;
}

.pricing_block_bottom_button:hover {
  background-color: #00897b;
  color: white;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */